<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='static/logo main cuidar.png') }}">
  </head>
  <body>
        <canvas class="canvas-index" id="backgroundCanvas"></canvas>

    <nav class="navbar">
        <!-- Left: Logo & Name -->
        <div class="logo">
            <img src="static\logo cuidar no bg.png" alt="Logo">
            <p class="static\logo main cuidar.png">Cuidar</p>
        </div>
    
        <!-- Center: Navigation Links -->
        <ul class="nav-links">
            <li><a href="{{ url_for('index') }}">CUIDAR AI</a></li>
            <li><a href="{{ url_for('health') }}">Reports</a></li>
            <li><a href="{{ url_for('index') }}">Nearby-Hospitals</a></li>
            <li><a href="{{ url_for('index') }}">Emergency</a></li>
            <li><a href="{{ url_for('about') }}">About-us</a></li>
        </ul>
    
        <!-- Right: Image + Text + Buttons -->
        <div class="right-section">
            
            <!-- <p>Welcome Back!</p> -->
            
            <!-- <img src="user.jpg" alt="Profile"> -->
        </div>
    
        <!-- Mobile Menu Toggle -->
        <button class="menu-toggle" id="menu-toggle">☰</button>
    </nav>
    

  <!-- About Section -->
  <section id="sobreNosotros">
      <div class="contenedor">
          <h2 class="tituloSeccion">About Cuidar</h2>
          <div class="contenidoSobre">
              <div class="textoSobre">
                  <h3>Our Mission</h3>
                  <p>At <strong>Cuidar</strong>, our mission is to revolutionize healthcare accessibility by providing instant relief, expert guidance, and essential medical services—all in one seamless platform.</p>
    
                  <br>
                  
                  <p>We aim to empower individuals with reliable health information, AI-driven diagnostics, and geolocation-based doctor listings to ensure timely care. With a focus on women’s health, emergency assistance, and online medicine accessibility, Cuidar is committed to making healthcare more efficient, inclusive, and user-friendly.</p>
                  
                  <br>
                  
                  <p>Our goal is to bridge the gap between technology and healthcare, ensuring that quality medical support is just a tap away.</p>
              </div>
              <div class="logoContenedor">
                  <img src="/static/logo main cuidar.png" alt="Cuidar Logo" class="logoImagen">
              </div>
          </div>
      </div>
  </section>

  <!-- Team Section -->
  <section id="equipo">
      <div class="contenedor">
          <h2 class="tituloSeccion">Our Team</h2>
          <div class="contenedorEquipo">
              <!-- Team Member 1 -->
              <div class="miembro">
                  <div class="imagenMiembro">
                      <img src="static/me.jpg">
                  </div>
                  <div class="infoMiembro">
                      <h3>Gaurav Jha</h3>
                      <p class="rolMiembro">Team Member 1</p>
                      <p class="bioMiembro">A full-stack web devloper , Designer and a passionate learner. He did all the frontend and JS functionality of this Prototype.</p>
                  </div>
              </div>

              <!-- Team Member 2 -->
              <div class="miembro">
                  <div class="imagenMiembro">
                      <img src="static/IMG_1503.JPG" >
                  </div>
                  <div class="infoMiembro">
                      <h3>Pranjal Gupta</h3>
                      <p class="rolMiembro">Team Member 2</p>
                      <p class="bioMiembro">A full stack web devloper and Python devloper , He helped with the frontend of the Prototype.</p>
                  </div>
              </div>

              <!-- Team Member 3 -->
              <div class="miembro">
                  <div class="imagenMiembro">
                      <img src="static/IMG-20240905-WA0011.jpg">
                  </div>
                  <div class="infoMiembro">
                      <h3>Abhishek Singh Gautam </h3>
                      <p class="rolMiembro">Team Member 3</p>
                      <p class="bioMiembro">Python Devloper. <br> He helped with the Cuidar AI devlopment and Backend.</p>
                  </div>
              </div>

              <!-- Team Member 4 -->
              <div class="miembro">
                  <div class="imagenMiembro">
                      <img src="static/WhatsApp Image 2025-03-30 at 00.03.03_1070aa0c.jpg">
                  </div>
                  <div class="infoMiembro">
                      <h3>James Wilson</h3>
                      <p class="rolMiembro">Aditya Prajapati</p>
                      <p class="bioMiembro">Python Devloper. <br> he helped with the report section and Graph functionalities.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Social Section -->
  <section id="redes">
      <div class="contenedor">
          <h2 class="tituloSeccion">Connect With Us</h2>
          <p>Stay updated with our latest news and initiatives by following us on social media.</p>
          <div class="iconosRedes">
              
              <div class="iconoRed">
                  <a href="https://x.com/Gauravjha_X" aria-label="Twitter">
                      <i>t</i>
                  </a>
              </div>
              <div class="iconoRed">
                  <a href="https://www.instagram.com/gaurav__jha_09/?__pwa=1" aria-label="Instagram">
                      <i>i</i>
                  </a>
              </div>
              <div class="iconoRed">
                  <a href="https://www.linkedin.com/in/gaurav-jha-63432629a/" aria-label="LinkedIn">
                      <i>in</i>
                  </a>
              </div>
          </div>
          <p>Email us at: <strong>gauravjha092006@gmail.com</strong></p>
      </div>
  </section>

  <!-- Thank You Section -->
  <section id="gracias">
      <div class="contenedor">
          <div class="mensajeGracias">
              <h2>Thank You for Your Interest in Cuidar</h2>
              <p>We appreciate you taking the time to learn more about our mission. Your support and trust inspire us to continue our journey of making a positive impact.</p>
              <br>
              <p>We look forward to connecting with you and exploring how we can work together towards a brighter future.</p>
          </div>
      </div>
  </section>


    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>